[user]
	name = Seth Vargo
	email = sethvargo@gmail.com
[color]
	ui = true
[core]
	editor = $EDITOR
	excludesfile = ~/.gitignore
[format]
	pretty = %C(bold yellow)%h%Creset %s %C(bold blue)[%an]%Creset %Cgreen(%cr)
[apply]
	whitespace = fix
[github]
	user = sethvargo
